{% extends "bootstrap/base.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='pitches.css')}}">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top lighten-2">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">pitcher</a>
       
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('auth.login') }}">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <br> <br> <br> <br> <br> <br>
  <div class="container">
    <div class="card">
  <div class="row">
    <div class="col l4 s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Robert X. Cringely</span>
          <p>“If the automobile had followed the same development cycle as the computer, a Rolls-Royce would today cost $100, get a million miles per gallon, and explode once a year, killing everyone inside.”</p>
        </div>
        <div class="card-action">
            <a href="#"></a><i class="material-icons">thumb_down</i></a>
            <a href="#"></a><i class="material-icons">thumb_up</i></a>
        </div>
      </div>
    </div>
  
    <div class="col l4 s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Dave Barry</span>
          <p>“Computers are getting smarter all the time.  Scientists tell us that soon they will be able to talk to us.  (And by ‘they’, I mean ‘computers’.  I doubt scientists will ever be able to talk to us.)”</p>
        </div>
        <div class="card-action">
            <a href="#"></a><i class="material-icons">thumb_down</i></a>
            <a href="#"></a><i class="material-icons">thumb_up</i></a>
        
      </div>
    </div>
  </div>
    <div class="col l4 s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Larry DeLuca</span>
          <p>“I’ve noticed lately that the paranoid fear of computers becoming intelligent and taking over the world has almost entirely disappeared from the common culture.  Near as I can tell, this coincides with the release of MS-DOS.”p>
        </div>
        <div class="card-action">
            <a href="#"></a><i class="material-icons">thumb_down</i></a>
            <a href="#"></a><i class="material-icons">thumb_up</i></a>
        
      </div>
    </div>
  </div>
  <div class="col l4 s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">CEdsger W. Dijkstra</span>
        <p>“It’s ridiculous to live 100 years and only be able to remember 30 million bytes.  You know, less than a compact disc.  The human condition is really becoming more obsolete every minute.”</p>
      </div>
      <div class="card-action">
          <a href="#"></a><i class="material-icons">thumb_down</i></a>
          <a href="#"></a><i class="material-icons">thumb_up</i></a>
      
    </div>
  </div>
</div>
<div class="col l4 s12 m4">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Alan Kay</span>
      <p>“Most software today is very much like an Egyptian pyramid with millions of bricks piled on top of each other, with no structural integrity, but just done by brute force and thousands of slaves.”</p>
    </div>
    <div class="card-action">
        <a href="#"></a><i class="material-icons">thumb_down</i></a>
        <a href="#"></a><i class="material-icons">thumb_up</i></a>
    
  </div>
</div>
</div>
<div class="col l4 s12 m4">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">jeremy S. Anderson</span>
      <p>“There are two major products that come out of Berkeley: LSD and UNIX.  We don’t believe this to be a coincidence.”</p>
    </div>
    <div class="card-action">
        <a href="#"></a><i class="material-icons">thumb_down</i></a>
        <a href="#"></a><i class="material-icons">thumb_up</i></a>
    
  </div>
</div>
</div>
<div class="col l4 s12 m4">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Dave Barry</span>
      <p>“Microsoft has a new version out, Windows XP, which according to everybody is the ‘most reliable Windows ever.‘  To me, this is like saying that asparagus is ‘the most articulate vegetable ever.‘ “</p>
    </div>
    <div class="card-action">
        <a href="#"></a><i class="material-icons">thumb_down</i></a>
        <a href="#"></a><i class="material-icons">thumb_up</i></a>
    
  </div>
</div>
</div>
<div class="col l4 s12 m4">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Henry Petroski</span>
      <p>“The most amazing achievement of the computer software industry is its continuing cancellation of the steady and staggering gains made by the computer hardware industry.”</p>
    </div>
    <div class="card-action">
        <a href="#"></a><i class="material-icons">thumb_down</i></a>
        <a href="#"></a><i class="material-icons">thumb_up</i></a>
    
  </div>
</div>
</div>
<div class="col l4 s12 m4">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Timm Martin</span>
      <p >“It has been said that the great scientific disciplines are examples of giants standing on the shoulders of other giants.  It has also been said that the software industry is an example of midgets standing on the toes of other midgets.”</p>
    </div>
    <div class="card-action">
        <a  href="#"></a><i class="material-icons ">thumb_down</i></a>
        <a href="#"></a><i class="material-icons">thumb_up</i></a>
    
  </div>
  
</div>
</div>
</div>
</div>
</div>

{% endblock %}